# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,linux,ros2
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,linux,ros2

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### ROS2 ###
install/
log/
build/

# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject
*.pdf
# qcreator stuff
CMakeLists.txt.user

srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user


# Emacs
.#*

# Colcon custom files
COLCON_IGNORE
AMENT_IGNORE

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode/
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,linux,ros2

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

*.geojson
hermes_ws/src/waypoints/route_20241126_184304.yaml
hermes_ws/src/waypoints/route_20241126_182524.yaml
hermes_ws/src/waypoints/route_20241126_182441.yaml
hermes_ws/src/waypoint_map.html
hermes_ws/waypoint_map.html
