<?xml version="1.0"?>
<robot name="hermes">
    
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="file:/home/hermes/Hermes/hermes_ws/src/hermes_urdf/urdf/part_1.stl">
            </geometry>
            <origin xyz="0 0 0" rpy="0 -0 0" />
        </visual>
    </link>

</robot>